* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
	background-color: #ccc;
}
body {
	min-height: 100%;
	display: grid;
	grid-template-rows: 1fr auto;
	grid-template-areas: 
	"content"
	"footer";
}

@font-face {
    font-family: customFont;
    src: url(fonts/fffforwa.ttf);
    /*font-weight: bold;*/
}

.grid-content {
	grid-area: content;
	display: grid;
	grid-template-columns: 1fr 9fr 9fr 1fr;
	grid-template-rows: repeat(5, auto) 1fr;
	grid-template-areas: 
	". contact contact ."
	". baner baner ."
	". whoami skills ."
	". portfolio portfolio ."
	". offer offer ."
	". . . .";
}
.contact {
	background-color:  #0094FF;
	grid-area: contact;
	height: 60px;
	padding: 5px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: flex-end;
}
.social-media {
	margin-right: auto;
	padding: 10px;
	padding-left: 40px;
}

.info {
	padding: 10px;
}

.contact .email a {
	color: #000;
	text-decoration: none;
}

.contact .email a:hover {
	color: yellow; /*TODO: change color*/
}



.baner {
	background-color: #FF6A00;
	grid-area: baner;
	position: relative;
	text-align: center;
}

.baner img {
	width: 100%;
	height: 300px;
}

.baner .quote {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: yellow;
    font-family: customFont;
    font-size: 60px;
    font-style: normal;
    opacity: 0.6;
}

.baner .quote:hover {
	opacity: 1;
	cursor: default;
}

.whoami {
	background-color: #7F3300;
	grid-area: whoami;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.whoami .title {
	font-family: customFont;
	font-size: 60px;
	color: yellow;
	opacity: 0.8;
}

.whoami .subtitle {
	font-family: customFont;
	font-size: 40px;
	color: yellow;
	opacity: 0.6;
}

.whoami .article {
	padding-top: 10px;
}

.whoami .article img {
	width: 200px;
	height: 250px;	
	float: left;
	padding-right: 10px;
}

.whoami .article div {
	/*padding-left: 230px;*/
	padding-top: 15px;
}

.whoami .article div a {
	padding-left: 20px;
	/*padding-top: 25px;*/
	font-family: customFont;
	color: yellow;
	opacity: 0.3;
}

.whoami .article div a:hover {
	opacity: 0.9;
}





.skills {
	background-color: #FFD800;
	grid-area: skills;
}

.bar {
	width: 75%;
	height: 20px;
	position: relative;
	background: #555;
	border-radius: 25px;
	padding: 3px;
}

.bar .filler {
	display: block;
	height: 100%;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: rgb(43,194,83);
}

.line {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 10px;
	/*padding-left: 10px;*/
	/*padding-right: 10px;*/
}







.offer {
	background-color: #FF00DC;
	grid-area: offer;
}
.portfolio {
	background-color: #00FF21;
	grid-area: portfolio;
}
.footer {
	background-color: #FF0000;
	grid-area: footer;
	padding: 30px;
}
